#main
  %h1 Users List
  %table
    %thead
      %tr
        %td name
        %td email
        %td status
        %td Link
        %td Uploaded Photo
    %tbody
      - @users.each do |user|
        %tr
          %td 
            =user.name
          %td 
            =user.email
          %td 
            =user.status
          %td
            = link_to "Update Image", edit_user_path(user)
          %td
            = image_tag(user.thumb_image)
      = paginate @users
      = link_to_next_page @users, 'Next Page'
